<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> -->
</head>

<body>

<h1>webquiz</h1>

<div id='prompt'>This is the question?</div>

<form id='answerForm'>
<input name='answer' id='ans' placeholder='answer'>
</form>


<script>
/**
 * Randomize array element order in-place.
 * Using Durstenfeld shuffle algorithm.
 */
function shuffleArray(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
    return array;
}

var cards = [];
cards.push({front:"sky", back:"blue"});
cards.push({front:"blood", back:"red"});
cards.push({front:"snow", back:"white"});
console.log(cards);

cards = shuffleArray(cards);
var currentCard = null;

function pickNextCard() {
	currentCard = cards.pop();
	var prompt = document.getElementById('prompt');
	prompt.innerHTML = currentCard.front;
};

var f = document.getElementById('answerForm');
f.onsubmit = function(event){
	event.preventDefault();

	var i = document.getElementById('ans');
	var a = i.value;
	console.log('You entered: ' + a);
	if (a == currentCard.back) {
		console.log('CORRECTOMANIA');
		i.value = '';
		pickNextCard();
	} else {
		console.log('notsocorrect');
	}
};

pickNextCard();

</script>


</body>